body {
  background-color: white;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

#App-header {
  position: fixed;
  background-color: teal;
  min-height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkHome {
  color: white;
  text-decoration: none;
}

#logoName {
  margin-left: 20px;
}

#catagoryButton {
  background-color: #282c34;
  border: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-right: 50px;
}

.font {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

#App-main {
  position: absolute;
  background-color: white;
  z-index: -1;
  top: 10vh;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchStrip {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#searchContainer {
  background-color: rgb(240, 240, 240);
  color: #282c34;
  border-radius: 10px;
  margin-right: 20px;
  width: 30%;
  box-shadow: 0px 0px 4px #282c34;
}

#filterButtonContainer {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.filterButton {
  font-size: 3;
}


#cardContainer {
  position: absolute;
  z-index: -1;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 0px 4px #282c34;
  display: flex;
  justify-content: center;
  align-items: start;
}

#create-main {
  background-color: white;
  z-index: -1;
  width: 80%;
  min-width: fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recipeInfo {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  margin-top: 0;
  color: teal;
  text-align: center;
  text-decoration: underline;
}
.spacer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tag {
  margin: 0;
  font-size: 25px;
}

.recipeInfo {
  background-color: rgb(246, 246, 246);
  border: 0;
  font-size: 25px;
  outline: none;
}

#createContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addIngredients {
  color: teal;
  margin-left: 30px;
  border-radius: 10px;
  width: 800px;
  min-width: 300px;
  font-size: 40px;
  
}

.createText {
  width: 100%;
  height: 300px;
  border: 2px solid teal;
  box-shadow: 0px 0px 5px #282c34;
  border-radius: 10px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #282c34;
  outline: none;
}

#addDirections {
  color: teal;
  margin-left: 30px;
  border-radius: 10px;
  width: 800px;
  min-width: 300px;
  font-size: 40px;
}

#addPhoto {
  color: teal;
  margin-left: 30px;
  border-radius: 10px;
  width: 30%;
  min-width: 300px;
  font-size: 40px;
}

#submitButton {
  background-color: #282c34;
  color: white;
  width: 200px;
  border-radius: 10px;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 40px;
}


#recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recipeContainer img {
  margin-top: 80px;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

#recipeContainer div {
  border: 2px solid #282c34;
  border-radius: 5px;
  height: fit-content;
  width: 80%;
}

#recipeContainer div h3 {
  border-bottom: 1px solid #282c34;
}

#recipeContainer h3{
  margin: 0;
}

.foot {
  height: 100px;
  width: 100%;
  color: white;
}

#footer {
  bottom: 0;
  z-index: 10;
  background-color: teal;
  color: white;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
